.all-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50vw;
  gap: 0.2rem;
  border: 2px solid black;
}

.card {
  font-size: 4rem;
  border: 1px solid black;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  user-select: none;
  cursor: pointer;
}

.faceDown {
  background-color: red;
  opacity: 0.9;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#444cf755, #444cf7);
}